@font-face {
    font-family: 'Helvetica Neue';
    src: url('https://raw.githubusercontent.com/thebartyparty/helvetica-neue-webfont/master/HelveticaNeue-Bold.woff2') format('woff2'),
        url('https://raw.githubusercontent.com/thebartyparty/helvetica-neue-webfont/master/HelveticaNeue-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('https://raw.githubusercontent.com/thebartyparty/helvetica-neue-webfont/master/HelveticaNeue-Light.woff2') format('woff2'),
        url('https://raw.githubusercontent.com/thebartyparty/helvetica-neue-webfont/master/HelveticaNeue-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('https://raw.githubusercontent.com/thebartyparty/helvetica-neue-webfont/master/HelveticaNeue-Medium.woff2') format('woff2'),
        url('https://raw.githubusercontent.com/thebartyparty/helvetica-neue-webfont/master/HelveticaNeue-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('https://raw.githubusercontent.com/thebartyparty/helvetica-neue-webfont/master/HelveticaNeueRegular.woff2') format('woff2'),
        url('https://raw.githubusercontent.com/thebartyparty/helvetica-neue-webfont/master/HelveticaNeueRegular.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('https://raw.githubusercontent.com/thebartyparty/helvetica-neue-webfont/master/HelveticaNeue-Thin.woff2') format('woff2'),
        url('https://raw.githubusercontent.com/thebartyparty/helvetica-neue-webfont/master/HelveticaNeue-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('https://raw.githubusercontent.com/thebartyparty/helvetica-neue-webfont/master/HelveticaNeue.woff2') format('woff2'),
        url('https://raw.githubusercontent.com/thebartyparty/helvetica-neue-webfont/master/HelveticaNeue.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('https://raw.githubusercontent.com/thebartyparty/helvetica-neue-webfont/master/HelveticaNeue-Italic.woff2') format('woff2'),
        url('https://raw.githubusercontent.com/thebartyparty/helvetica-neue-webfont/master/HelveticaNeue-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

