https://github.com/thebartyparty/helvetica-neue-webfont/blob/master/HelveticaNeue-Bold.woff2?raw=true

@font-face {
    font-family: 'Helvetica Neue';
    src: url('https://github.com/thebartyparty/helvetica-neue-webfont/blob/master/HelveticaNeue-Bold.woff2?raw=true') format('woff2'),
        url('https://github.com/thebartyparty/helvetica-neue-webfont/blob/master/HelveticaNeue-Bold.woff?raw=true') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('https://github.com/thebartyparty/helvetica-neue-webfont/blob/master/HelveticaNeue-Light.woff2?raw=true') format('woff2'),
        url('https://github.com/thebartyparty/helvetica-neue-webfont/blob/master/HelveticaNeue-Light.woff?raw=true') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('https://github.com/thebartyparty/helvetica-neue-webfont/blob/master/HelveticaNeue-Medium.woff2?raw=true') format('woff2'),
        url('https://github.com/thebartyparty/helvetica-neue-webfont/blob/master/HelveticaNeue-Medium.woff?raw=true') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('https://github.com/thebartyparty/helvetica-neue-webfont/blob/master/HelveticaNeueRegular.woff2?raw=true') format('woff2'),
        url('https://github.com/thebartyparty/helvetica-neue-webfont/blob/master/HelveticaNeueRegular.woff?raw=true') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('https://github.com/thebartyparty/helvetica-neue-webfont/blob/master/HelveticaNeue-Thin.woff2?raw=true') format('woff2'),
        url('https://github.com/thebartyparty/helvetica-neue-webfont/blob/master/HelveticaNeue-Thin.woff?raw=true') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('https://github.com/thebartyparty/helvetica-neue-webfont/blob/master/HelveticaNeue.woff2?raw=true') format('woff2'),
        url('https://github.com/thebartyparty/helvetica-neue-webfont/blob/master/HelveticaNeue.woff?raw=true') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('https://github.com/thebartyparty/helvetica-neue-webfont/blob/master/HelveticaNeue-Italic.woff2?raw=true') format('woff2'),
        url('https://github.com/thebartyparty/helvetica-neue-webfont/blob/master/HelveticaNeue-Italic.woff?raw=true') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

